.gm-style .gm-style-iw {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center;
  justify-content: space-between !important;
  border-radius: 28px !important;
  padding-left: 16px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background: white !important;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.18) !important;
}

.gm-style .gm-style-iw-d {
  overflow: hidden !important;
  max-height: none !important;
  padding-right: 12px !important;
}

.gm-style .gm-style-iw-c {
  border-radius: 8px !important;
}

.gm-style .gm-style-iw h3 {
  margin: 0 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 1.4 !important;
  color: #000 !important;
  white-space: pre-line !important;
}

.gm-style .gm-style-iw .gm-ui-hover-effect {
  height: 28px !important;
  width: 28px !important;
  margin-left: 6px !important;
}

.gm-style .gm-style-iw .gm-ui-hover-effect span {
  margin: 6px !important;
  width: 18px !important;
  height: 18px !important;
}
